*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}









a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.menu{
    width: 100%; 
    background: rgb(44, 42, 42);
    
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
/*========= MENU START========*/
.menu_container{
    width: 1200px;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    align-items: center;
}
.proezd{
    color: #fff;
}
.prez{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.prez_text{
    color: #fff;
    font-size: 23px;
}
.menu_list{
    display: flex;
    column-gap: 25px;
}
.menu_item{
    display: flex;
    
}
.menu_link{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto";
    line-height: 19px;
}
/*========= MENU END========*/
/*========= HEADER START========*/
.header{
    width: 100%;
   
}
/*========= NAV START========*/

.nav{
    width: 100%;
    background: #000;
    backdrop-filter: blur(7.5px);
      border-top: 1px solid rgb(117, 116, 116);
    border-bottom: 1px solid rgb(117, 116, 116);
}

.nav_container{
    max-width: 1200px;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto; 
   
}
.nav_span{
    color: #fff;
    background: rgba(10, 148, 24, 0.75);
    width: 216px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 36px;
    font-weight: 700;
    line-height: 30px;
    font-family: "Roboto";
    border: 4px solid #06600F;
}
.nav_list{
    display: flex;
}
.nav_item{
    width: 93px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.nav_item:hover{
    background: rgba(105, 207, 23, 0.75);

}
.nav_link{
    color: #fff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
}
/*========= NAV END========*/
/*========= BURGER START========*/



.burger{
    width: 100%;
    height: 80vh;
    position: relative;
}
.burger_img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    object-position: top; 
}
.burger_container{
  padding-top: 10%;
}
.burger_title{
    font-size: 72px;
    font-weight: 900;
    line-height: 85px;
    font-family:"Raleway";
    color: #69CF17;
}
.burger_span{
    font-size: 36px;
    font-weight: 400;
    line-height: 17px;
    font-family:"Roboto italic";
    color: #69CF17;
    margin:18px 0 18px ;
    display: flex;
}
.burger_text{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Roboto italic";
    color: #fff;
}
.burdger_decs{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burdger_decs-price{
    max-width: 285px;
    width: 100%;
    height: 103px;
    background: rgba(105, 207, 23, 0.5);
    backdrop-filter: blur(9px);
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 50px;
    font-weight: 100;
    line-height: 25px;
    font-family: "Roboto italic";
}
.burdger_decs-text{
    max-width:230px ;
    width:100%;
    height:51px ;
    background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
    border-radius: 6px;
    row-gap: 10px;
    margin: 18px 0 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*========= MAIN START========*/
.main{
    width: 100%;
    background: #000;
}
/*========= ABOUT START========*/
.about{
    width: 100%;
    
}
.about_container{
   position: relative;
   
}
.about_img{
    display: flex;
    justify-content: center;
  
    width: 1100px;
    height: 400px;
    opacity: 1;
    
}
.about_p{
    display: flex;
    width: 1100px;
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    color: #fff;
}
.about_h4{
    position: absolute;
    margin: 170px 415px;
    opacity: 2;
    color: #69CF17B2;
    font-size: 55px;
    font-weight: 400;
    line-height: 65px;
    font-family: "Raleway"

    

}


/*========= ABOUT END========*/

/*========= MAIN END========*/
.filial{
    width: 100%;
    background: #fff;
}
.title_container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 80px;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filial_title{
    font-size: 50px;
    font-weight: 700;
    color: #69CF17;
    line-height: 40px;
}
.google_maps{
    width: 100%;
    height: 500px;
}
/*========= filial end========*/
/*========= main_end start========*/
.main_end{
    width: 100%;
    height: 280px;
    background:  linear-gradient(180deg, #000000 0%, rgba(105, 207, 23, 0.5) 100%);
}
.street_containet{
    width: 100%;
    height: 50px;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    
}
.street{
    font-size: 20px;
    color: #fff;
}
.main_end-title{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 100px;
}
.main_end-title-list{
    display: flex;
    column-gap: 25px;   
}
.main_end-title-link{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    font-family: "Roboto";
}





/*========= main_end end========*/

/*========= MAIN END========*/
/*========= FOOTER START========*/
.footer{
    width: 100%;
    height: 60px;
    background: #1A3406;
}
.footer_title{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roroto";
}


/*========= FOOTER END========*/
